body {
    background-color: #99f;
}

h1 {
    margin-top: 5px;
}

div.wrap {
    width: 95vw;
}

div.main {
    margin: 0 auto;
}

#canvas {
    border: solid 1px black;
    cursor: pointer;
    display: block;
}